# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
/.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Symbol files
*.dSYM.zip
*.dSYM

# Playground
timeline.xctimeline
playground.xcworkspace

# Others
*.swp
*.lock
*.DS_Store
*.idea/
*.vscode/

# tvOS specific (simulator/device content)
*.ipa
*.app
